# All logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore local development settings files.
.env*.local

 # Ignore local RVM namespace.
.ruby-gemset

# IDE configs
.idea
.vscode
*.sublime-*

# Test artifacts
coverage

# Uploads
public/uploads
